*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    border-radius: 8px;
    background-color:  #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
 }
 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: rgba(229, 84, 115, 0.10);
    max-height: 850px;    
 }
 .header-container{
    margin: 140px 0px 100px 120px;
    
 }
 .header-title{
    color: hsl(0, 0%, 15%);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0px;
 }
 .header-details{
     margin-top: 30px;
     margin-bottom: 30px;
 }
 .header-image{
    margin-top: 50px;
    margin-right: 80px;
    
 }
