/* common styles  */
*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.btn-primary{
   border-radius: 8px;
   background-color:  #E55473;
   color: #FFF;
   font-size: 20px;
   font-weight: 700;
   padding: 15px 30px;
   border: none;
}
.text-color{
    color: #E55473;
}
.primary-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* header related styles  */

.header{
    background-color:  rgba(229, 84, 115, 0.10);
    max-width: 1920px;
    max-height: 850px;
    background-image: url('../images/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
    padding: 30px 240px 0px 120px;
}
.header-container{
    padding-bottom: 140px;
    padding-right: 20px;
    margin: 100px 350px 0px 10px;
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
}
.header-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* main related styles  */

.main{
    margin-top: 150px;
    margin-bottom: 80px;
}

/* flowers featured section related styles */

.flowers-featured{
    text-align: center;
    margin: 0px 240px 120px 240px;
}
.featured-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 48px;
    margin-top: 24px;
}
.featured-image-container{
    display: flex;
    gap: 24px;
    margin-top: 0px;
}
.flowers{
    border-radius: 300px 300px 0px 0px;
    width: 160px;
    height: 260px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 80px 70px 0px;
    margin-bottom: 0;  
}
.flowers img{
    width: 160px;
    height: 260px;
}
.featured-image-title{
    margin-top: 32px;
}
#aqua-background{
    background-color: rgba(5, 151, 160, 0.15);
}
#background-color{
    background-color: rgba(71, 125, 17, 0.15);
}

/* Hot Deals Sales Related Styles  */

.hot-deals{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 100px;
    height: 500px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 60px 200px 100px 240px;
}
.hot-deals-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.hot-deals-image{
    width: 250px;
    height: 350px;
    }

/* flowers arrangements related styles */

.flowers-arrangement{
    margin: 130px 120px;
    text-align: center;
}
.arrangement-container{
     display: flex;
     gap: 24px;   
}
.arrangement{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    padding-bottom: 30px;
}
.arrangement img{
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

/* Instagram Section Related Styles  */

.instagram{
     text-align: center;
     margin: 120px 170px 80px;
}
.instagram-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.instagram-images{
    display: flex;
    gap: 24px;  
}
.flowers-image > img{
    width: 242px;
    height: 296px;
}

/* Latest Deals Related Styles */

.subscribe{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0px 160px 0px 200px;
    text-align: center;
    border-radius: 8px;
    padding: 150px 200px 150px;    
}
.subscribe-details{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.input-email{
    border-radius: 8px;
    background-color: #FFF;
    width: 400px;
    height: 35px;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 0px;
}

/* Footer Related Styles  */

.footer{
    text-align: center;
    background-color: #111010;
    padding: 80px 380px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}
.footer-details{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.footer-copy-right{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    margin-top: 50px;
}

/* CSS Styles End ***Thank You*** */
